In [4]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [5]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cockburn Town,TC,2021-02-02 21:36:56,21.4612,-71.1419,77.00,73,75,12.66
1,1,Ushuaia,AR,2021-02-02 21:34:31,-54.8000,-68.3000,55.40,76,75,6.91
2,2,Busselton,AU,2021-02-02 21:33:08,-33.6500,115.3333,66.00,88,38,4.00
3,3,Dikson,RU,2021-02-02 21:36:57,73.5069,80.5464,-23.49,84,1,13.85
4,4,Bethel,US,2021-02-02 21:36:57,41.3712,-73.4140,30.20,80,90,9.22

In [6]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cockburn Town,TC,2021-02-02 21:36:56,21.4612,-71.1419,77.00,73,75,12.66
6,6,Touba,CI,2021-02-02 21:36:58,8.2833,-7.6833,77.47,24,15,1.03
9,9,Cabo San Lucas,MX,2021-02-02 21:36:59,22.8909,-109.9124,80.01,47,20,12.66
12,12,Butaritari,KI,2021-02-02 21:37:00,3.0707,172.7902,81.77,84,92,19.17
13,13,Hilo,US,2021-02-02 21:32:44,19.7297,-155.0900,75.20,69,90,13.80
14,14,Manokwari,ID,2021-02-02 21:37:00,-0.8667,134.0833,77.85,79,93,5.77
16,16,Avarua,CK,2021-02-02 21:37:01,-21.2078,-159.7750,80.60,74,75,9.22
17,17,Cidreira,BR,2021-02-02 21:37:01,-30.1811,-50.2056,78.28,85,0,12.26
18,18,Atuona,PF,2021-02-02 21:37:02,-9.8000,-139.0333,78.30,75,3,14.76
25,25,Vaini,TO,2021-02-02 21:37:04,-21.2000,-175.2000,78.80,94,90,6.91

In [13]:
preferred_cities_df.count()

City_ID       160
City          160
Country       160
Date          160
Lat           160
Lng           160
Max Temp      160
Humidity      160
Cloudiness    160
Wind Speed    160
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0    Cockburn Town      TC     77.00  21.4612  -71.1419
6            Touba      CI     77.47   8.2833   -7.6833
9   Cabo San Lucas      MX     80.01  22.8909 -109.9124
12      Butaritari      KI     81.77   3.0707  172.7902
13            Hilo      US     75.20  19.7297 -155.0900
14       Manokwari      ID     77.85  -0.8667  134.0833
16          Avarua      CK     80.60 -21.2078 -159.7750
17        Cidreira      BR     78.28 -30.1811  -50.2056
18          Atuona      PF     78.30  -9.8000 -139.0333
25           Vaini      TO     78.80 -21.2000 -175.2000

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [34]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Cockburn Town,TC,77.00,21.4612,-71.1419,Osprey Beach Hotel
6,Touba,CI,77.47,8.2833,-7.6833,Hotel de L'Amitié Vraie
9,Cabo San Lucas,MX,80.01,22.8909,-109.9124,Hotel Tesoro Los Cabos
12,Butaritari,KI,81.77,3.0707,172.7902,Isles Sunset Lodge
13,Hilo,US,75.20,19.7297,-155.0900,Hilo Hawaiian Hotel
14,Manokwari,ID,77.85,-0.8667,134.0833,Swiss Belhotel Manokwari
16,Avarua,CK,80.60,-21.2078,-159.7750,Paradise Inn
17,Cidreira,BR,78.28,-30.1811,-50.2056,Hotel Castelo
18,Atuona,PF,78.30,-9.8000,-139.0333,Villa Enata
25,Vaini,TO,78.80,-21.2000,-175.2000,Keleti Beach Resort

In [37]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [40]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [41]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))