## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [7]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Georgetown,MY,84.00,few clouds,5.4112,100.3354,Cititel Penang
1,3,Grand Gaube,MU,79.00,clear sky,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
2,9,Kruisfontein,ZA,78.01,clear sky,-34.0033,24.7314,Oyster Bay House Rental
3,11,Diamantino,BR,86.97,broken clouds,-14.4086,-56.4461,Hotel Delta
4,16,Vaini,TO,78.80,broken clouds,-21.2000,-175.2000,Keleti Beach Resort

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['Hotel Name'] == 'The Esplanade Hotel']
vacation_end = vacation_df.loc[vacation_df['Hotel Name'] == 'The Esplanade Hotel']
vacation_stop1 = vacation_df.loc[vacation_df['Hotel Name'] == 'Harding River Caravan Park']
vacation_stop2 = vacation_df.loc[vacation_df['Hotel Name'] == 'ibis Styles Karratha'] 
vacation_stop3 = vacation_df.loc[vacation_df['Hotel Name'] == 'Hospitality Carnarvon'] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
32,87,Port Hedland,AU,78.8,scattered clouds,-20.3167,118.5667,The Esplanade Hotel

In [57]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],vacation_start["Lng"].to_numpy()[0]

end = vacation_end["Lat"].to_numpy()[0],vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 =vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]

In [58]:
start,end,stop1,stop2,stop3

((-20.3167, 118.5667),
 (-20.3167, 118.5667),
 (-20.7833, 117.1333),
 (-20.7377, 116.8463),
 (-24.8667, 113.6333))

In [65]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
start2stop3_via_stop1stop2 = gmaps.directions_layer(
        start, stop3, waypoints=[stop1,stop2],
        travel_mode="DRIVING")
fig.add_layer(start2stop3_via_stop1stop2)
fig

Figure(layout=FigureLayout(height='420px'))

In [77]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,87,Port Hedland,AU,78.80,scattered clouds,-20.3167,118.5667,The Esplanade Hotel
1,400,Roebourne,AU,80.83,clear sky,-20.7833,117.1333,Harding River Caravan Park
2,18,Karratha,AU,81.18,few clouds,-20.7377,116.8463,ibis Styles Karratha
3,178,Carnarvon,AU,80.60,overcast clouds,-24.8667,113.6333,Hospitality Carnarvon

In [78]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [83]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(50.0, 51.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))